*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

[class^="col-"]{
  float: left;
}

.container{
  padding:20px;
  text-align: center;
  max-width: 1170px;
  min-height: 500px;
  margin: auto;
}
.container::after{
  content: "";
  display: table;
  clear: both;
}
.bg{
  background-color: lightgrey;
}

.col-1{
  width: calc(100% / 12);
}
.col-2{
  width: calc((100% / 12)*2);
}
.col-3{
  width: calc((100% / 12)*3);
}
.col-4{
  width: calc((100% / 12)*4);
}
.col-5{
  width: calc((100% / 12)*5);
}
.col-6{
  width: calc((100% / 12)*6);
  border: 1px solid red;
}
.col-7{
  width: calc((100% / 12)*7);
}
.col-8{
  width: calc((100% / 12)*8);
}
.col-9{
  width: calc((100% / 12)*9);
}
.col-10{
  width: calc((100% / 12)*10);
}
.col-11{
  width: calc((100% / 12)*11);
}
.col-12{
  width: 100%;
}

.container .col-6-img{
  width: 100%;
  height: 200px;
}
.container .col-6-img img{
  width: 40%;
  height: 100%;
}

.container .col-12-img{
  width: 100%;
}
.container .col-12-img img{
  width: 10%;
}

@media screen and (max-width:500px){
  .col-6{
    width: 100%;
  }
  .col-4{
    width: 100%;
  }

}
